



<ul>
    <li><a href="/admin/kitaplar" class="nav-link">Admin Kitaplar</a></li>
    <li><a href="/admin/kategoriler/list" class="nav-link">Admin Kategoriler</a></li>
    <li><a href="/admin/yazarlar/list" class="nav-link">Admin Yazar</a></li>
    <li><a href="/admin/yayinevi/list" class="nav-link">Admin YayınEvi</a></li>
</ul>

