@model YayinEviModel




    
    <div class="col-md-4">
        <h1 class="h3">Yayınevi Düzenle</h1>
        <hr> 

        <form asp-controller="admin" asp-action="YayinEviEdit" method="POST">
                <input type="hidden" name="yayineviId" value="@Model.yayineviId"> 
                <div class="form-group row">
                    <label asp-for="yayineviAd" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control ml-5" asp-for="yayineviAd">
                        <span asp-validation-for="yayineviAd" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary ml-5">Yayınevi Güncelle</button>
                    </div>
                </div>


        </form>

    </div>


    <!--
        --yayinevine ait kitaplar:
    -->

     <div class="col-md-8">        
        <div class="row">
            <div class="col-md-12">      
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <td style="width: 30px;">Id</td>
                            <td style="width: 100px;">resim</td>
                            <td>Kitap Adı</td>
                            <td style="width: 20px;">fiyat</td>
                            <td style="width: 20px;">Onaylı</td>
                            <td style="width: 150px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.kitaplar.Count>0)
                        {
                            @foreach (var item in Model.kitaplar)
                                {
                                    <tr>
                                        <td>@item.kitapId</td>
                                        <td><img src="~/img/@item.k_resim" width="80"></td>
                                        <td>@item.k_adi</td>
                                        <td>@item.k_fiyat</td>                                       
                                        <td>
                                            @if(item.k_onay)
                                            {
                                                <i class="fas fa-check-circle"></i>
                                            }else{
                                                <i class="fas fa-times-circle"></i>
                                            }
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm mr-2">Düzenle</a>
                                            
                                            <form action="#" method="POST" style="display: inline;">
                                                <input type="hidden" name="" value="">
                                                <input type="hidden" name="" value="">
                                                <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                            </form>
                                        </td>


                                       
                                </tr>
                                }
                        }else{
                            <div class="alert alert-warning">
                                <h3>No Products</h3>
                            </div>
                        }

                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
