


@model yazarListViewModel






<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Admin Yazarlar</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="/admin/yazarlar/ekle">Yazar Ekle</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td>Yazar Adı</td>
                    <td>Yazar Soyad</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>
                @if(Model.yazarlar.Count>0)
                {
                       @foreach (var item in Model.yazarlar)
                        {
                            <tr>
                                <td>@item.yazarId</td>
                                <td>@item.yazarad</td>  
                                <td>@item.yazarsoyad</td>
                                <td>
                                    <a href="/admin/yazarlar/edit/@item.yazarId" class="btn btn-primary btn-sm mr-2">Düzenle</a>
                                    
                                    <form action="#" method="POST" style="display: inline;">
                                        <input type="hidden" name="#" value="#">
                                        <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                    </form>
                                </td>
                            </tr>
                        }
                }else{
                    <div class="alert alert-warning">
                        <h3>No Categories</h3>
                    </div>
                }

             
            </tbody>
        </table>
    </div>
</div>

