

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Seçenekler:
  </button>
  <div class="dropdown-menu">
          
            <a class="dropdown-item" href="/kitaplar/@ViewBag.kategoriadi/max">En yüksek fiyat</a>
            <a class="dropdown-item" href="/kitaplar/@ViewBag.kategoriadi/min">En düşük fiyat</a>
            <a class="dropdown-item" href="/kitaplar/@ViewBag.kategoriadi/zaman">En yeniler</a>

  </div>
</div>



