
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
  
    <title>Kitap</title>
</head>
<body>
    

    @await Html.PartialAsync("_navbar")  
    
     
    
        
     @if(TempData["message"]!=null)
    {
            var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String);

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-@message.AlertType">
                        @message.Message
                    </div>
                </div>
            </div>
    }  

    <div class="container">

         <div class="row">
             
             @RenderBody()
         </div>
    </div>


    

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
    <!--
        --section oluşturma
    -->
    @RenderSection("Scripts",false)
    
   
 
 
</body>
</html>