
  <div class="navbar bg-primary navbar-dark navbar-expand-sm mb-5">
        <div class="container">
            <a href="/" class="navbar-brand">Ana Sayfa</a>
            


            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a href="/kitaplar" class="nav-link">Kitaplar</a>
                </li>

                <li class="nav-item">
                    <a href="/yazarlar" class="nav-link">Yazarlar</a>
                </li>

                <!--
                    --eğer bir user login olduysa ve Admin rolüne sahpse;
                        Admin Paneli linkini görebilir
                -->
                @if (User.Identity.IsAuthenticated)
                {   

                    
                    if (User.IsInRole("Admin"))
                    {
                         <li class="nav-item" style="margin-left: 25px;">
                            <a href="/admin/AdminPanel" class="nav-link">Admin Paneli</a>
                         </li>
                        
                    }
                    
                   
                }
                
               
            
            </ul>


            <!--
                --login-register linkleri:
                --eğer kullanıcı login ise linkleri göster:
            -->
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="/SepetList" class="nav-link"><i class="fas fa-shopping-cart"></i> Sepetim</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {   
                    <li class="nav-item">
                         <a href="/account/manage" class="nav-link">
                            @User.Identity.Name
                         </a>
                    </li>


                    <li class="nav-item">
                         <a href="/account/logout" class="nav-link">Çıkış Yap</a>
                    </li>
                }

                
               
                else
                {   

                    <!--
                          --eğer kullanıcı login olmadıysa:
                    -->

                    <li class="nav-item">
                         <a href="/account/login" class="nav-link">Giriş Yap</a>
                    </li>

                    <li class="nav-item">
                         <a href="/account/register" class="nav-link">Kayıt Ol</a>
                    </li>


                }

            
            
            </ul>




          

        </div>
    </div>

    <!--
        
    -->