

  
  <div class="card mt-3">
      <div class="card-header">
          <h5>Search</h5>
      </div>
      <div class="card-body">

            <form action="/ara">
                <div class="form-group">
                    <input name="q" type="text" autocomplete="off" class="form-control" placeholder="Kitap Bul">
                </div>
                <button type="submit" class="btn btn-danger btn-sm btn-block">Kitap Bul</button>
           
           
            </form>
      </div>
  </div>
  